.btn{
    padding: 10px;
    font-size: 15px;
    width: 100%;
    outline: none;
    color: #fff;
    /* box-shadow: 8px 8px 10px gray; */
    border: 2px solid #e0a80d;
    border-radius: 4px;
    background-color: transparent;
    transition: all ease 1s;
    cursor: pointer;
  }

  .btn>a{
    text-decoration: none;
    color: #fff;
  }
  .btn:hover{
    background-color: #e0a80d;
  }
 
  /* .btn:hover{
    background-color: transparent;
    color: #7531b4;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 8px 8px 4px gray;
scale: 1.2;

  } */