.btn{
    padding: 10px;
    font-size: 15px;
    width: 100%;
    outline: none;
    color: #fff;
    /* box-shadow: 8px 8px 10px gray; */
    border: 2px solid #e0a80d;
    border-radius: 4px;
    background-color: transparent;
    transition: all ease 1s;
    cursor: pointer;
  }

  .btn>a{
    text-decoration: none;
    color: #fff;
  }
  .btn:hover{
    background-color: #e0a80d;
  }
 
  /* .btn:hover{
    background-color: transparent;
    color: #7531b4;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 8px 8px 4px gray;
scale: 1.2;

  } */

  #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 25px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e0a80d; /* Set a background color */
  color: #2b2c2c; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #e0a80d;
  font-size: 20px; /* Increase font size */
}

#myBtn:hover {
  border: 2px solid #e0a80d;

  background-color: #2b2c2c; /* Add a dark-grey background on hover */
  color: #e0a80d;
}