.myBtn{
    padding: 5px 10px;
margin: 20px;
font-size: 18px;
border-radius: 2px;
border: 1px solid #fff;
cursor: pointer;
}
.myBtn:hover{
    background-color: transparent;
    color: #fff;
}
@media screen and (max-width: 915px){
    .myBtn{
        margin: 0px;
    }
}