.homeContainer{
    background-color: red;
    height: 100Vh;
    color: #867c7c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.homeCenterDiv{
    height: 200px;
    width: 200px;
    border: 1px solid wheat;
}